<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Reset password page </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <!--    js -->
    <script type="text/javascript" src="/js/login.js"></script>

</head>
<body>
<% if (!findOutUser) {%>
    <div class="signUp-form">
        <form action="/passwordSubmit" method="post">
            <div class="avatar">
                <img src="/img/login.png" alt="login">
            </div>
            <h2 class="text-center">Reset your password</h2>
    <!--    What's your id -->
            <div class="form-group">
                <input id = "email" type="text" class="form-control" name="email" placeholder="email" required="required">
            </div>
    <!--     password quesiton-->
            <div class="form-group">
                <label id="resetQuesiton"> What was your childhood nickname?
                    <input type="text" class="form-control" placeholder="Answer" name="answer" id="answer" required="required">
                </label>
            </div>
            <!--        Reset button-->
            <button class="btn btn-primary btn-lg btn-block" type="reset" value="Reset">Reset</button>

            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
            </div>

        </form>
        <p class="text-center small">Don't have an account? <a href="/signUp" id = "signup">Sign up here!</a></p>
        <p class="text-center small">Already findout the password?  <a href="/" id = "restPassword">login here!</a></p>

    </div>
<% } %>


<% if (findOutUser) {%>
    <div class="signUp-form">
        <form action="/submitNewPassword" method="post" onsubmit="return checkConfirmPasswords2();">
            <div class="avatar">
                <img src="/img/login.png" alt="login">
            </div>
            <h2 class="text-center">Reseting  <%= detectUser %> 's password</h2>
            <!--    What's your id -->
            <label id="findOutUser" class="alertColour">You can reset ur password here: </label>

            <!-- if the answer is correct, then -->
            <div class="form-group">
                <input type="password" id = "checkPassword2" class="form-control" name="password" placeholder="Password" required="required">
            </div>
            <!--        confirmPassword-->
            <div class="form-group">
                <input type="password" id="confirmPassword2" class="form-control" name="confirmPassword" placeholder="confirm password" required="required">
                <br/>
                <label id="lbl-confirm2" class="alertColour" >Passwords not consistent</label>
            </div>
            <!--        Reset button-->
            <button class="btn btn-primary btn-lg btn-block" type="reset" value="Reset">Reset</button>

            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
            </div>

        </form>
        <p class="text-center small">Don't have an account? <a href="/signUp" id = "signup">Sign up here!</a></p>
        <p class="text-center small">Already findout the password?  <a href="/" id = "restPassword">login here!</a></p>

    </div>

<% } %>

</body>
</html>